@mixin rev-out($bg:$brand-primary, $col:$body-bg) {
  color: $col;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg;

  a {
    color: $col;
  }

  svg {
    fill: $col;
  }

  .btn {
    &:hover,
    &:focus,
    &.focus {
      background-color: $col;
      color: $bg;
      border-color: $col;
    }
  }

  .form-control {
    background-color: darken($bg,4%);
    border-color: darken($bg,4%);
    color: $col;
  }
}
